* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}


.header {
    display: flex;
    background-color: #2A1A19;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    align-items: center;
    gap: 24px;
}

.left-headline {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.headlines {
    display: flex;
    background-color: #2A1A19;
    color: white;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 100px;
}

.big-image {
    width: 500px;
}

.button1 {
    background-color: #4F3832;
    border: none;
    color: white;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin: 20px 0;
}

.images-n-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}
.info-images, .subtext {
    display: flex;
    justify-content: center;
}

.info-images {
    border-radius: 10px;
    border: solid;
    max-height: 250px;
    width: 250px;
    object-fit: cover;
    border-width: 2px;
    border-color: #1F2937;
}

.subtext {
    color: grey;
    text-align: center;
    padding-top: 10px;
    
}
.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
}

.quote {
    background-color: #F1E7D4;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
}

.quote-text {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    font-style: italic;
    padding: 6px;
}

.ai-quote {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
}

.sign-up {
    padding: 0 100px;
    display: flex;
    justify-content: center;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F3832;
    margin: 40px 100px;
    padding: 50px;
    border-radius: 10px;
    gap: 50px;
    flex: 1;
}

.sign-up-p {
    margin: 0px;
    display: flex;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

h3.action, .sing-up-p {
    margin: 0px;
    display: flex;
}

.action-button {
    display: flex;

}

.button2 {
    background-color: #4F3832;
    color: white;
    padding: 8px 24px;
    width: 120px;
    font-weight: bold;
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2A1A19;
    color: white;
    padding: 30px 0;
    margin-bottom: 0px;
}

